/* 개요 */
#overview{
    width: 740px;           /* 너비 740px, 높이 428px */           
    height: 500px;          
    float: left;            /* 왼쪽 부착 */
    background-color: skyblue;
}
/* 역사 */
#history{
    width: 740px;           /* 너비 332px, 높이 428px */
    height: 420px;
    float: right;
    margin-top: 8px;
    background-color: darkred;
}
/* 놀이방법 */
#howtoplay{
    width: 740px;           /* 너비 332px, 높이 428px */
    height: 400px;
    float: left;
    background-color: skyblue;
}/* 제품군 */
#item{
    width: 740px;           /* 너비 332px, 높이 428px */
    height: 300px;
    float: right;
    margin-top: 8px;
    background-color: darkred;
}/* 커뮤니티 */
#community{
    width: 740px;           /* 너비 332px, 높이 428px */
    height: 380px;
    float: left;
    background-color: skyblue;
}/* 대회 */
#contest{
    width: 740px;           /* 너비 332px, 높이 428px */
    height: 400px;
    float: right;
    margin-top: 8px;
    background-color: darkred;
}