/* 너비 1920의 컨테이너 */
.container{
    width: 1080px;
    margin: 0 auto;         /* 컨테이너 중앙 정렬 */
    margin-bottom: 8px;     /* 아래 마진 8px */
    overflow: hidden;       
}
/* 로고 설정 */
.logo{
    display: block;
    margin: 0 auto;
}
.footlogo{
    display: block;
    margin: 0 auto;
    width: 80px;
    height: auto;
}
.h1_style{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}

/* 상단 메뉴 구성 */
.menu{
    padding: 8px 0 8px 0;
    float: left;    
    background-color: whitesmoke;    
    border: 10px solid gold;   
}

/* list 정렬 */
li{
    list-style-type: none;
    float: left;            /* 왼쪽 부착 */
    padding-left: 16px;     /* 왼쪽 패딩 16px */
    font-size: large;
    font-weight: bold;     
}
/* 하이퍼링크 밑줄 제거 */
li > a{
    display: block;
    text-decoration: none;
}
li:first-child{
    padding-left: 10px;
}
li:last-child{
    padding-right: 10px;
}

/* 링크 폰트 설정 */
a {
    color: black; /* 링크의 기본 색상 */
}
a.current {
    color: red; /* 현재 위치한 링크의 색상 */
}


/* 아래쪽 레이아웃 */
.footer{
    height: 80px;
    width: 1080;
    position: relative;     /* 페이지 하단에 위치 */
    z-index: 1;             /* 이미지의 z-index 값을 낮게 설정 */
}